element.style {
     padding-bottom: 160px;
 }
 * {
     box-sizing: border-box;
 }

 .menu-content {
     padding-top: 166px;
     overflow-y: auto;
     background-color: var(--ik-header-bg-color);
     contain: content;
 }

 .menu-products-section {
     padding: 10px;
     color: var(--ik-bg-high-contrast-color);
     background-color: var(--ik-bg-color);
 }

 section {
     display: block;
     unicode-bidi: isolate;
 }

 .menu-grid {
     display: grid;
     grid-template-columns: repeat(2, 50%);
     gap: 10px 5px;
 }
 .menu-products-section--column>div.menu-grid {
    grid-template-columns: repeat(1,100%)
}

.menu-products-section--list>div.menu-grid {
    grid-template-columns: repeat(1,100%)
}

.menu-product:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    

}


 .menu-product__item {
     border: 2px solid black;


     background-color: var(--ik-product-bg-color);
     color: var(--ik-product-bg-high-contrast-color);
     position: relative;
     cursor: pointer;
     -webkit-tap-highlight-color: transparent;
     border-radius: 10px;
     overflow: hidden;
     backdrop-filter: blur(20px);
 }

 .menu-product__item:hover {
     box-shadow: palegreen;
 }

 .menu-product__item__img {
     height: 130px;
     position: relative;
 }

 .menu-product__item__img img {
     object-fit: cover;
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
 }


 .menu-product__item__top-block {
     display: flex;
     flex-direction: column;
     padding: 8px 10px;
     justify-content: space-between;
 }

 .menu-product__item__name {
     font-size: 1rem;
     font-weight: bold;
 }
 .menu-product__item__price {
     font-size: .9rem;
     
 }

 .text-overflow {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }

 .no-wrap {
     white-space: nowrap;
 }

 .menu-product__item__price {
     padding: 3px;
     border: 2px solid #2f8d46;
     border-radius: 5px;
     text-wrap: wrap;
     
 }